<div class="fixed-top bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>AI Chat</h4>
            </div>
        </div>
    </div>
</div>

<div id="message-box">
    @for(message of messages; track $index) {
        <app-message [message]="message"></app-message>
    }
</div>

<div class="fixed-bottom bg-light">
    <div class="container m-2">
        <div class="row">
            <div class="col-md-10">
                <input type="text" id="message" class="form-control"
                    placeholder="Type your message here ..." [(ngModel)]="newMessage"
                    (keyup.enter)="sendMessage()">
            </div>
            <div class="col-md-2 text-end">
                <button class="btn btn-outline-primary" (click)="sendMessage()">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>